<!--<div *ngIf="processor">
  <h2>{{processor.name}} details</h2>
  <div class="itemProc {{processor.name.split(' ').join('')}}">{{processor.name}}</div>
  <div><label>Number of Cores :</label>{{processor.cores}}</div>
  <div><label>Number of Threads :</label>{{processor.threads}}</div>
  <div><label>Processor Base Frequency :</label>{{processor.frequency}}</div>
  <div><label>Cache :</label>{{processor.cache}}</div>
  <button (click)="goBack()">Back</button>
  <button (click)="addCart()">Add to Cart</button>
  <button (click)="addWish()">Add to Wishlist</button>
</div>-->
<script src="js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>

<div class="sub-cate">
	<div class=" top-nav rsidebar span_1_of_left">
		<h3 class="cate">CATEGORIES</h3>
			<ul class="menu">
				<ul class="kid-menu ">
 								<li><a class=" " onclick="openMenu(event, '1')" >Hard Disk</a></li>
                                <li><a class=" " onclick="openMenu(event, '2')" >Mouse</a></li>
                                <li><a class=" " onclick="openMenu(event, '3')" >Monitor</a></li>
                                <li><a class=" " onclick="openMenu(event, '4')" >Printer</a></li>
                                <li><a class=" " onclick="openMenu(event, '5')" >RAM</a></li>
                                <li><a class=" " onclick="openMenu(event, '6')" >Scanner</a></li>
                                <li><a class=" " onclick="openMenu(event, '7')" >Keyboard</a></li>
                                <li><a class=" " onclick="openMenu(event, '8')" >Processor</a></li>
                                <li><a class=" " onclick="openMenu(event, '9')" >SSD</a></li>
                                <li><a class=" " onclick="openMenu(event, '10')" >Motherboard</a></li>
                                <!--<li><a class=" " onclick="openMenu(event, '11')" >Speaker</a></li>
								<li><a class=" " onclick="openMenu(event, '12')" >Graphic Card</a></li>-->
				</ul>
			</ul>
    </div>
</div>
		<!-- grids_of_4 -->
		<!-- <div *ngIf="json">
		<div *ngFor="let x of json.results">
			{{x.nama_barang}}
			</div>

		{{json.results[0].nama_barang}}
	</div> -->
<div *ngIf="json">
<div class="container"> 
	 	<div class=" single_top">
	      <div class="single_grid">
				<div class="grid images_3_of_2">
						<ul id="etalage">
							<li>
								<a>
									<img class="etalage_thumb_image" src="{{json.results[0].gambar}}" class="img-responsive" />
								</a>
							</li>
						</ul>
						 <div class="clearfix"> </div>		
				  </div> 
				  <div class="desc1 span_3_of_2">
					<h4>{{json.results[0].nama_barang}}</h4>
				<div class="cart-b">
					<div class="left-n ">Rp. {{json.results[0].harga_barang}}</div>
				    <a (click)="addToCart(json.results[0])" class="now-get get-cart-in">ADD TO CART</a>
					<!--<a class="now-get get-cart-in" href="#">ADD TO CART</a> -->
				    <div class="clearfix"></div>
				 </div>
				 <h6>{{json.results[0].stok}} items in stock</h6>
				</div>
          	    <div class="clearfix"> </div>
          	   </div>
          	   <ul id="flexiselDemo1">
		 </ul>
	<h2>Deskripsi Barang</h2>
	<pre>{{json.results[0].deskripi}}</pre>
    </div>
    <div class="clearfix"> </div>	
</div>
</div>
