

<div class="sub-cate">
	<div class=" top-nav rsidebar span_1_of_left">
		<h3 class="cate">CATEGORIES</h3>
			<ul class="menu">
				<ul class="kid-menu ">
 								<li><a class="" onclick="openMenu(event, '1')" >Hard Disk</a></li>
                                <li><a class=" " onclick="openMenu(event, '2')" >Mouse</a></li>
                                <li><a class=" " onclick="openMenu(event, '3')" >Monitor</a></li>
                                <li><a class=" " onclick="openMenu(event, '4')" >Printer</a></li>
                                <li><a class=" " onclick="openMenu(event, '5')" >RAM</a></li>
                                <li><a class=" " onclick="openMenu(event, '6')" >Scanner</a></li>
                                <li><a class=" " onclick="openMenu(event, '7')" >Keyboard</a></li>
                                <li><a class=" " onclick="openMenu(event, '8')" >Processor</a></li>
                                <li><a class=" " onclick="openMenu(event, '9')" >SSD</a></li>
                                <li><a class=" " onclick="openMenu(event, '10')" >Motherboard</a></li>
                                <!--<li><a class=" " onclick="openMenu(event, '11')" >Speaker</a></li>
								<li><a class=" " onclick="openMenu(event, '12')" >Graphic Card</a></li>-->
				</ul>
			</ul>
    </div>
</div>

<!-- start content -->
<div class="container">
	<div class="women-product">
		<!-- grids_of_4 -->
		<!-- <div *ngIf="json">
		<div *ngFor="let x of json.results">
			{{x.nama_barang}}
			</div>

		{{json.results[0].nama_barang}}
	</div> -->
	<ul class="tabcontent" *ngFor="let category of allcategory" id={{category.id_kategori}}>
		<div *ngIf="json">
			<a *ngFor="let product of json.results"  [routerLink]="['/detail', product.id_barang]">
				<div class="grid-product">
					<div class="product-grid" *ngIf="product.id_kategori.id_kategori == category.id_kategori">
						<div class="content_box">
							<div class="left-grid-view grid-view-left">
								<img src="{{product.gambar}}" class="img-responsive watch-right" alt=""/>
							</div>
								<h4><a href="#"> {{product.nama_barang}}</a></h4>
								<div class="star-price">
											<div class="dolor-grid"> 
												<span class="actual">{{product.harga_barang}}</span>
											</div>
										<div class="clearfix"> </div>
								</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		</ul>
	</div>
	<!--<ul class="clearfix tabcontent" *ngFor="let category of allcategory" id=0>
	<div *ngIf="json">
		<a *ngFor="let product of json.results">
			<div class="grid-product">
				<div class="product-grid" *ngIf="product.id_kategori.id_kategori == category.id_kategori">
					<div class="content_box">
						<div class="left-grid-view grid-view-left">
							<img [routerLink]="['/detail', product.id_barang]" src="{{product.gambar}}" class="img-responsive watch-right" alt=""/>
						</div>
							<h4><a [routerLink]="['/detail', product.id_barang]"> {{product.nama_barang}}</a></h4>
							<div class="star-price">
										<div class="dolor-grid"> 
											<span class="actual">{{product.harga_barang}}</span>
										</div>
									<div class="clearfix"> </div>
							</div>
					</div>
					<hr>
				</div>
				</div>
		</a>
		</div>
		</ul>-->
</div>
